<div>
  <p>{{input type="text" placeholder="Title" value=title}}</p>
  <p>{{textarea type="text" placeholder="Here's some nice content..." value=body rows="4" cols="50"}}</p>
  <button {{action "createPost"}} class="submit">Submit</button>
</div>
