<hr>

<div class="panel">
  <p><i>"{{model.title}}"</i> by user <b>{{model.user_id}}</b></p>
  <p>{{model.body}}</p>
  <p>
    {{#link-to "posts.edit" model.id class="button"}}Edit{{/link-to}}
    <button {{action "deletePost" this}} class="submit">Delete</button>
  </p>
</div>
