<hr>

<div class="panel">
  <p>{{input type="text" value=model.title}}</p>
  <p>{{textarea type="text" value=model.body rows="4" cols="50"}}</p>
  <button {{action "updateReview" this}} class="submit">Update</button>
</div>
