<div>
  <p>{{input type="text" placeholder="Title" value=title}}</p>
  <p>{{textarea type="text" placeholder="After looking at this recipe, my first thought was..." value=body rows="4" cols="50"}}</p>
  <button {{action "createReview"}} class="submit">Submit</button>
</div>
