<div class="panel radius callout">
  <h5>Posts</h5>
</div>

{{#link-to "posts.new"}}New{{/link-to}}

{{outlet}}

<hr>

<ul>
  {{#each post in model}}
    <li>
      <p>
        {{#link-to "posts.show" post.id}}
          {{post.title}}
        {{/link-to}}
        by user <b>{{post.user_id}}</b></p>
    </li>
  {{/each}}
</ul>

