<h3>Posts</h3>

{{#link-to "posts.new"}}New{{/link-to}}

{{outlet}}

<hr>

<ul>
  {{#each post in model}}
    <li>
      <p>
        {{#link-to "posts.show" post.id}}
          {{post.title}}
        {{/link-to}}
        by user <b>{{post.userId}}</b></p>
    </li>
  {{/each}}
</ul>

