<h3>Recipes</h3>

{{#link-to "recipes.new"}}New recipe{{/link-to}}

{{outlet}}

<ul>
  {{#each recipe in model}}
    <li>
      <p>{{recipe.title}}</p>
      <p>{{recipe.body}}</p>
    </li>
  {{/each}}
</ul>
