<h3>Recipes</h3>

{{#link-to "recipes.new"}}New{{/link-to}}

{{outlet}}

<hr>

<ul>
  {{#each recipe in model}}
    <li>
      <p>
        {{#link-to "recipes.show" recipe.id}}
          {{recipe.title}}
        {{/link-to}}
        by user <b>{{recipe.user_id}}</b></p>
    </li>
  {{/each}}
</ul>
