<h3>Reviews</h3>

{{#link-to "reviews.new"}}New{{/link-to}}

{{outlet}}

<hr>

<ul>
  {{#each review in model}}
    <li>
      <p>
        {{#link-to "reviews.show" review.id}}
          {{review.title}}
        {{/link-to}}
        by user <b>{{review.userId}}</b></p>
    </li>
  {{/each}}
</ul>
